@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Oswald:wght@500&family=Prata&display=swap");
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("../font/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("../font/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("../font/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("../font/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("../font/Pretendard-ExtraLight.woff") format("woff");
}
:root {
  --bgColor: #f4f2f4;
  --bgColorG:#ebebeb;
  --pointColor: #cfafda;
}

body {
  font-family: "Pretendard";
  font-size: 16px;
  color: #222;
  position: relative;
  line-height: 1;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.inner {
  padding: 0 6.25vw;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

header {
  position: relative;
  width: 100%;
  z-index: 100;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Pretendard";
}
header.white {
  color: #fff;
}
header ::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: -1;
  transition: all 0.5s ease;
}
header.on ::before {
  height: 80px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  box-sizing: border-box;
}
.navigation .logo_wrap {
  position: relative;
  width: auto;
  margin-right: 6.25vw;
}
.navigation .logo_wrap .logo {
  font-size: 1.5rem;
  font-weight: 700;
}
.navigation .logo_wrap .logo a {
  display: block;
  display: flex;
  align-items: center;
}
.navigation .menu_group {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 400;
}
@media (max-width: 767px) {
  .navigation .menu_group {
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 6.25vw;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.9450980392);
    color: #fff;
  }
}
.navigation .menu_group .menu_item {
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .navigation .menu_group .menu_item {
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ADADAD;
  }
}
.navigation .menu_group .menu_item li:not(:nth-child(3)) {
  margin-right: 2vw;
}
@media (max-width: 767px) {
  .navigation .menu_group .menu_item li {
    margin: 1rem 0;
  }
}
.navigation .menu_group .menu_item li a {
  display: block;
}
.navigation .menu_group .menu_item li a span {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.navigation .menu_group .menu_item li a span:nth-child(1) {
  transform: translateX(0);
}
.navigation .menu_group .menu_item li a span:nth-child(3) {
  transform: translateX(0);
}
.navigation .menu_group .menu_item li a:hover span {
  opacity: 1;
  visibility: visible;
}
.navigation .menu_group .menu_item li a:hover span:nth-child(1) {
  transform: translateX(-0.5rem);
}
.navigation .menu_group .menu_item li a:hover span:nth-child(3) {
  transform: translateX(0.5rem);
}
.navigation .menu_group .resume {
  position: relative;
  color: #aaa;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .navigation .menu_group .resume {
    width: 100%;
    margin-top: 2rem;
    padding: 6.25vw 20px;
    box-sizing: border-box;
  }
}
.navigation .menu_group .resume a {
  display: block;
}
.navigation .menu_group .resume span {
  color: var(--pointColor);
}
.navigation .menu_group .resume :hover ::after {
  width: 100%;
}
@media (max-width: 767px) {
  .navigation .menu_group .resume :hover ::after {
    width: 0;
  }
}
.navigation .menu_group .resume ::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--pointColor);
  transition: all 0.5s ease;
}
.navigation .m_btn {
  position: relative;
  width: 100%;
  height: 32px;
  display: none;
}
@media (max-width: 767px) {
  .navigation .m_btn {
    display: block;
  }
}
.navigation .m_btn a {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.navigation .m_btn a i {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  transform-origin: 25% 45%;
  transition: all 0.5s ease;
}
.navigation .m_btn a i.open {
  background-color: #fff;
}
.navigation .m_btn a i.open:nth-child(1) {
  transform: rotate(45deg);
}
.navigation .m_btn a i.open:nth-child(2) {
  transform: rotate(-45deg);
}

main {
  position: relative;
  width: 100vw;
  height: auto;
  font-family: "Pretendard";
}

.sc_main {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 6.25vw;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 9rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
@media (max-width: 1440px) {
  .sc_main {
    font-size: 6.6rem;
  }
}
@media (max-width: 1024px) {
  .sc_main {
    font-size: 4.2rem;
  }
}
@media (max-width: 767px) {
  .sc_main {
    font-size: 3rem;
  }
}
.sc_main .title {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .sc_main .title {
    flex-direction: column;
    align-items: start;
  }
}
.sc_main .title strong {
  min-width: 640px;
}
@media (max-width: 1440px) {
  .sc_main .title strong {
    min-width: 468px;
  }
}
@media (max-width: 1024px) {
  .sc_main .title strong {
    min-width: 294px;
  }
}
.sc_main .title .name {
  position: relative;
  display: flex;
}
.sc_main .title .name.dark {
  color: #f8ecff;
}
.sc_main .title .name.dark::after {
  width: 95%;
}
.sc_main .title .name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #f8ecff;
  transition: all 0.5s ease;
}
.sc_main .title .name .name_box {
  position: relative;
  width: 82px;
  height: 170px;
  overflow: hidden;
}
.sc_main .title .name .name_box:nth-child(1) {
  width: 94px;
}
.sc_main .title .name .name_box:nth-child(6) {
  width: 114px;
}
@media (max-width: 1440px) {
  .sc_main .title .name .name_box {
    width: 62px;
    height: 126px;
  }
  .sc_main .title .name .name_box:nth-child(1) {
    width: 70px;
  }
  .sc_main .title .name .name_box:nth-child(6) {
    width: 88px;
  }
}
@media (max-width: 1024px) {
  .sc_main .title .name .name_box {
    width: 40px;
    height: 80px;
  }
  .sc_main .title .name .name_box:nth-child(1) {
    width: 46px;
  }
  .sc_main .title .name .name_box:nth-child(6) {
    width: 54px;
  }
}
@media (max-width: 767px) {
  .sc_main .title .name .name_box {
    width: 28px;
    height: 58px;
  }
  .sc_main .title .name .name_box:nth-child(1) {
    width: 32px;
  }
  .sc_main .title .name .name_box:nth-child(6) {
    width: 38px;
  }
}
.sc_main .title .name .name_box span {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
}
@media (max-width: 767px) {
  .sc_main .sub {
    display: flex;
    flex-direction: column;
  }
}
.sc_main .more {
  position: absolute;
  width: 100vw;
  bottom: 6.25vw;
  right: 6.25vw;
  display: flex;
  justify-content: end;
  font-size: 3rem;
  font-weight: 300;
}
.sc_main .more span {
  margin-left: 30px;
  transform: rotate(90deg);
}
@media (max-width: 1440px) {
  .sc_main .more {
    font-size: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .sc_main .more {
    font-size: 1.8rem;
  }
}

.sc_horison {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 767px) {
  .sc_horison {
    height: auto;
    overflow: visible;
    padding: 0 6.25vw;
    box-sizing: border-box;
    margin: 120px 0;
  }
}
.sc_horison .work_web {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .sc_horison .work_web {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-bottom: 120px;
  }
}
.sc_horison .work_web .txt_wrap .title {
  text-align: center;
  font-size: clamp(7rem, 12vw, 12rem);
  font-weight: 600;
}
@media (max-width: 1024px) {
  .sc_horison .work_web .txt_wrap .title {
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .sc_horison .work_web .txt_wrap .title {
    font-size: 3rem;
  }
}
.sc_horison .work_web .txt_wrap .title span {
  display: inline-block;
  font-size: clamp(5rem, 10vw, 11rem);
  letter-spacing: -12px;
  transform: translateY(-50px);
}
@media (max-width: 1440px) {
  .sc_horison .work_web .txt_wrap .title span {
    transform: translateY(-40px);
  }
}
@media (max-width: 1024px) {
  .sc_horison .work_web .txt_wrap .title span {
    transform: translateY(-20px);
  }
}
@media (max-width: 767px) {
  .sc_horison .work_web .txt_wrap .title span {
    font-size: 3rem;
    transform: translateY(-10px);
  }
}
.sc_horison .horison_wrap {
  display: flex;
}
@media (max-width: 767px) {
  .sc_horison .horison_wrap {
    display: block;
  }
}
.sc_horison .horison_wrap .work_list {
  position: relative;
  height: 100vh;
  display: flex;
  z-index: 1;
  transform: translateX(100vw);
}
@media (max-width: 767px) {
  .sc_horison .horison_wrap .work_list {
    transform: translateX(0);
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
.sc_horison .horison_wrap .work_list .work_link:not(:last-child) {
  margin-right: 6.25vw;
}
@media (max-width: 767px) {
  .sc_horison .horison_wrap .work_list .work_link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
.sc_horison .horison_wrap .work_list .work_link {
  position: relative;
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .sc_horison .horison_wrap .work_list .work_link {
    width: 100%;
  }
}
.sc_horison .horison_wrap .work_list .work_link .title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .sc_horison .horison_wrap .work_list .work_link .title {
    font-size: 1rem;
  }
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1254901961);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
@media (max-width: 767px) {
  .sc_horison .horison_wrap .work_list .work_link .img_wrap {
    border-radius: 0.5rem;
  }
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap .img_box {
  position: relative;
  width: 100%;
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap .img_box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap .img_box img.img_ver2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap .img_box video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 1rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap .skill {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
}
@media (max-width: 767px) {
  .sc_horison .horison_wrap .work_list .work_link .img_wrap .skill {
    display: none;
  }
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap .skill li {
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.3764705882);
  color: #fff;
  padding: 0.5rem 1rem 0.6rem;
  box-sizing: border-box;
  border-radius: 2rem;
}
.sc_horison .horison_wrap .work_list .work_link .img_wrap .skill li:not(:last-child) {
  margin-right: 10px;
}

.wk_cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}
@media (max-width: 767px) {
  .wk_cursor {
    display: none;
  }
}
.wk_cursor .scroll {
  position: relative;
  width: 8vw;
  height: 8vw;
  transform: scale(0);
  background-color: #fff;
  border: 1px solid #222;
  border-style: dashed;
  border-radius: 180px;
}
.wk_cursor .scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.upDate_wrap {
  display: inline-block;
  position: fixed;
  z-index: 100;
  top: 72px;
  right: 6.25vw;
  min-width: 320px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
}
.upDate_wrap span {
  font-weight: 700;
  font-size: 0.8rem;
  color: #bbb;
  position: absolute;
  right: 20px;
  top: 18px;
}
.upDate_wrap .title {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
}
.upDate_wrap p {
  position: relative;
  display: inline-block;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 0.5rem;
}
.upDate_wrap p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: all 0.5s ease;
}
.upDate_wrap p:hover::after {
  width: 100%;
}

.work_page {
  background-color: var(--bgColorG);
}
@media (max-width: 767px) {
  .work_page {
    padding-bottom: 80px;
    box-sizing: border-box;
  }
}
.work_page .work_intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 767px) {
  .work_page .work_intro {
    height: 35vh;
  }
}
.work_page .work_intro .title {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(30px);
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 13rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .work_page .work_intro .title {
    display: none;
  }
}
.work_page .work_intro .title .tit_wrap {
  display: flex;
}
.work_page .work_intro .title .tit_wrap span {
  transform: translateY(100%);
}
.work_page .work_content {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .work_page .work_content {
    flex-direction: column-reverse;
  }
}
.work_page .work_content .info_group {
  width: 28%;
  height: 100vh;
  padding: 6.25vw 3.125vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .work_page .work_content .info_group {
    width: 32%;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .info_group {
    width: 100%;
    height: auto;
    padding: 6.25vw;
  }
}
.work_page .work_content .info_group.fix {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 767px) {
  .work_page .work_content .info_group.fix {
    position: relative;
  }
}
.work_page .work_content .info_group .info_wrap .title {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .work_page .work_content .info_group .info_wrap .title {
    margin-bottom: 30px;
  }
}
.work_page .work_content .info_group .info_wrap .title .tit {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .work_page .work_content .info_group .info_wrap .title .tit {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .info_group .info_wrap .title .tit {
    font-size: 2.2rem;
  }
}
.work_page .work_content .info_group .info_wrap .title .link {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .work_page .work_content .info_group .info_wrap .title .link {
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .info_group .info_wrap .title .link {
    font-size: 1.2rem;
  }
}
.work_page .work_content .info_group .info_wrap .title .link a {
  position: relative;
  display: block;
}
.work_page .work_content .info_group .info_wrap .title .link a:hover::after {
  width: 100%;
}
.work_page .work_content .info_group .info_wrap .title .link a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: all 0.5s ease;
}
.work_page .work_content .info_group .info_wrap .title .link img {
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
}
.work_page .work_content .info_group .info_wrap .desc {
  color: #ccc;
  display: block;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .work_page .work_content .info_group .info_wrap .desc {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .info_group .info_wrap .desc {
    font-size: 1rem;
  }
}
.work_page .work_content .info_group .info_wrap .explan {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 60px;
  word-break: keep-all;
}
@media (max-width: 1440px) {
  .work_page .work_content .info_group .info_wrap .explan {
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .info_group .info_wrap .explan {
    font-size: 1rem;
  }
}
.work_page .work_content .info_group .info_wrap .skill {
  display: flex;
  flex-wrap: wrap;
}
.work_page .work_content .info_group .info_wrap .skill li:not(:last-child) {
  margin-right: 1rem;
}
@media (max-width: 1024px) {
  .work_page .work_content .info_group .info_wrap .skill li:not(:last-child) {
    margin-right: 0.5rem;
  }
}
.work_page .work_content .info_group .info_wrap .skill li {
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  margin: 0.5rem 0;
  border: 1px solid #222;
  border-radius: 2rem;
}
@media (max-width: 1440px) {
  .work_page .work_content .info_group .info_wrap .skill li {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
  }
}
@media (max-width: 1024px) {
  .work_page .work_content .info_group .info_wrap .skill li {
    font-size: 0.6rem;
    padding: 0.5rem 0.6rem;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .info_group .info_wrap .skill li {
    font-size: 1rem;
  }
}
.work_page .work_content .gallery_group {
  width: 72%;
  min-height: 100vh;
  padding: 6.25vw 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .work_page .work_content .gallery_group {
    width: 68%;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group {
    width: 100%;
    padding: 6.25vw;
    margin-top: 60px;
  }
}
.work_page .work_content .gallery_group li {
  width: 72%;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group li {
    width: 100%;
    margin-bottom: 30px;
  }
}
.work_page .work_content .gallery_group li.content_row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group li.content_row {
    flex-direction: column;
  }
}
.work_page .work_content .gallery_group li.content_row .row_box {
  width: calc(50% - 1vw);
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group li.content_row .row_box {
    width: 100%;
    margin: 40px 0;
  }
}
.work_page .work_content .gallery_group .img_wrap {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1882352941);
  background-color: #444;
  overflow: hidden;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .work_page .work_content .gallery_group .img_wrap {
    border-radius: 0.5rem;
  }
}
.work_page .work_content .gallery_group .img_wrap video {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1.02);
  overflow: hidden;
}
.work_page .work_content .gallery_group .img_wrap img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.work_page .work_content .gallery_group .img_wrap .tag {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.6rem 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2509803922);
  border: 1px solid #fff;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group .img_wrap .tag {
    display: none;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group .img_wrap {
    border-radius: 6px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1254901961);
  }
}
.work_page .work_content .gallery_group .txt_wrap .desc {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group .txt_wrap .desc {
    margin-bottom: 1rem;
  }
}
.work_page .work_content .gallery_group .txt_wrap .desc strong {
  font-size: 2rem;
  font-weight: 600;
  display: block;
}
@media (max-width: 1024px) {
  .work_page .work_content .gallery_group .txt_wrap .desc strong {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group .txt_wrap .desc strong {
    font-size: 1rem;
  }
}
.work_page .work_content .gallery_group .txt_wrap .desc span {
  cursor: pointer;
}
.work_page .work_content .gallery_group .txt_wrap .desc span:hover::before {
  margin-right: 0.2rem;
}
.work_page .work_content .gallery_group .txt_wrap .desc span:hover::after {
  margin-left: 0.2rem;
}
.work_page .work_content .gallery_group .txt_wrap .desc span::before {
  content: "<";
  transition: all 0.2s ease;
}
.work_page .work_content .gallery_group .txt_wrap .desc span::after {
  content: ">";
  transition: all 0.2s ease;
}
.work_page .work_content .gallery_group .txt_wrap p {
  position: relative;
  padding-left: 1rem;
  box-sizing: border-box;
  margin: 0.5rem 0;
  line-height: 1.6;
  word-break: keep-all;
}
@media (max-width: 1024px) {
  .work_page .work_content .gallery_group .txt_wrap p {
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  .work_page .work_content .gallery_group .txt_wrap p {
    margin: 0;
  }
}
.work_page .work_content .gallery_group .txt_wrap p::before {
  content: "·";
  position: absolute;
  left: 0;
  font-weight: 900;
  margin-right: 1rem;
}

.fritz_area .work_intro {
  background: url(../img/Fritze-intro.webp) no-repeat center center/cover;
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 1024px) {
  .fritz_area .work_intro {
    background: url(../img/mobile/Fritze-intro.webp) no-repeat center center/cover;
  }
}
@media (max-width: 767px) {
  .fritz_area .work_intro {
    background: url(../img/mobile/Fritze-intro_m.webp) no-repeat center center/cover;
  }
}

.tamburins_area .work_intro {
  background: url(../img/tamburins_intro.webp) no-repeat center center/cover;
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 767px) {
  .tamburins_area .work_intro {
    background: url(../img/mobile/tamburins_intro_m.webp) no-repeat center center/cover;
  }
}

.spotify_area .work_intro {
  background: url(../img/spotfy_intro.webp) no-repeat center center/cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}
@media (max-width: 767px) {
  .spotify_area .work_intro {
    background: url(../img/mobile/spotfy_intro_m.webp) no-repeat center center/cover;
  }
}
.spotify_area .work_content .gallery_group .content_row {
  width: 32%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .spotify_area .work_content .gallery_group .content_row {
    width: 100%;
  }
}

.hmg_area .work_intro {
  background: url(../img/hmg_intro.webp) no-repeat center center/cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}
@media (max-width: 767px) {
  .hmg_area .work_intro {
    background: url(../img/mobile/hmg_intro_m.webp) no-repeat center center/cover;
  }
}

.repick_area .work_intro {
  background: url(../img/repick_intro.webp) no-repeat center center/cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}
@media (max-width: 767px) {
  .repick_area .work_intro {
    background: url(../img/mobile/repick_intro_m.webp) no-repeat center center/cover;
  }
}

.page_out {
  position: fixed;
  z-index: 10;
  right: 3.125vw;
  bottom: 30px;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 60px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1254901961);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .page_out {
    font-size: 1.2rem;
    padding: 1.2rem 2.2rem;
  }
}
@media (max-width: 767px) {
  .page_out {
    right: 6.25vw;
    bottom: 6.25vw;
    padding: 0.7rem 1rem;
  }
}
.page_out .back {
  transition: all 0.5s ease;
}
.page_out .back:hover {
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .page_out .back {
    display: none;
  }
}
.page_out .arrow {
  display: block;
  margin-left: 0.5rem;
}
@media (max-width: 767px) {
  .page_out .arrow {
    margin: 0;
  }
}

.code_wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1882352941);
  display: none;
  opacity: 0;
}
.code_wrap .code_box {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 3px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3137254902);
  background-color: #23241f;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .code_wrap .code_box {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .code_wrap .code_box {
    width: calc(100% - 6.25vw);
    border-radius: 10px;
  }
}
.code_wrap .code_box pre {
  width: 100%;
  height: 580px;
  overflow: hidden;
  overflow-y: scroll;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
@media (max-width: 767px) {
  .code_wrap .code_box pre {
    min-height: 300px;
    max-height: 300px;
  }
}
.code_wrap .code_box .x_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.code_wrap .code_box .x_btn i {
  display: block;
  width: 100%;
  height: 3px;
  transform-origin: 25% 45%;
  background-color: #fff;
}
.code_wrap .code_box .x_btn i:nth-child(1) {
  transform: rotate(45deg);
}
.code_wrap .code_box .x_btn i:nth-child(2) {
  transform: rotate(-45deg);
}

main {
  position: relative;
  width: 100vw;
  height: auto;
  font-family: "Pretendard";
}

.introduce_area {
  position: relative;
  width: 100%;
  padding: 60px 6.25vw;
  box-sizing: border-box;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .introduce_area {
    padding: 40px 0;
  }
}
.introduce_area .sc_intro {
  position: relative;
  width: 100%;
}
.introduce_area .sc_intro .intro_yha {
  display: flex;
  justify-content: end;
  margin-bottom: 60px;
}
.introduce_area .sc_intro .intro_yha strong {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  box-sizing: border-box;
  color: #333;
  background-color: #f8ecff;
}
.introduce_area .sc_intro .intro_yha span {
  margin-left: 0.5rem;
}
@media (max-width: 1024px) {
  .introduce_area .sc_intro .intro_yha {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .intro_yha {
    justify-content: start;
    width: auto;
    margin-bottom: 40px;
    font-size: 1.1rem;
  }
}
.introduce_area .sc_intro .txt_wrap {
  position: relative;
  line-height: 1.8;
  letter-spacing: -1px;
}
.introduce_area .sc_intro .txt_wrap .main_title {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 30px;
}
.introduce_area .sc_intro .txt_wrap .main_title > strong {
  position: relative;
  height: 80px;
  overflow: hidden;
  display: block;
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .txt_wrap .main_title > strong {
    height: auto;
  }
}
.introduce_area .sc_intro .txt_wrap .main_title > strong span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  overflow: hidden;
  opacity: 0;
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .txt_wrap .main_title > strong span {
    position: relative;
  }
}
.introduce_area .sc_intro .txt_wrap .main_title .bold {
  color: var(--pointColor);
}
@media (max-width: 1024px) {
  .introduce_area .sc_intro .txt_wrap .main_title {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .txt_wrap .main_title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.introduce_area .sc_intro .txt_wrap .sub_title {
  opacity: 0;
  transform: translateY(30px);
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 30px;
  color: #454545;
}
@media (max-width: 1024px) {
  .introduce_area .sc_intro .txt_wrap .sub_title {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .txt_wrap .sub_title {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}
.introduce_area .sc_intro .txt_wrap .explan {
  opacity: 0;
  transform: translateY(30px);
  font-size: 1.6rem;
  font-weight: 400;
  color: #454545;
}
@media (max-width: 1024px) {
  .introduce_area .sc_intro .txt_wrap .explan {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .txt_wrap .explan {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .introduce_area .sc_intro .txt_wrap .explan br {
    display: none;
  }
}
.introduce_area .sc_intro .img_wrap {
  position: relative;
  width: 100%;
  height: 35vw;
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .img_wrap {
    height: 70vw;
  }
}
.introduce_area .sc_intro .img_wrap .img_box {
  width: 60%;
  height: 0;
  transform: translateY(-50px);
  overflow: hidden;
}
.introduce_area .sc_intro .img_wrap .img_box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767px) {
  .introduce_area .sc_intro .img_wrap .img_box {
    width: 100%;
    transform: translate(0);
  }
}
.introduce_area .contect_group {
  border-top: 3px solid var(--pointColor);
  border-style: dashed;
  margin-top: 80px;
  padding-top: 120px;
}
.introduce_area .contect_group section {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .introduce_area .contect_group section {
    flex-direction: column;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
  }
}
.introduce_area .contect_group section .title {
  min-width: 260px;
}
@media (max-width: 1024px) {
  .introduce_area .contect_group section .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
.introduce_area .contect_group section .title h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #454545;
}
@media (max-width: 767px) {
  .introduce_area .contect_group section .title h4 {
    margin: 0;
  }
}
.introduce_area .contect_group section .title span {
  color: #ADADAD;
}
@media (max-width: 767px) {
  .introduce_area .contect_group section .title span {
    font-size: 0.8rem;
  }
}
.introduce_area .contect_group section .explan_wrap {
  max-width: 722px;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .introduce_area .contect_group section .explan_wrap {
    width: 100%;
    margin: 0;
  }
}
.introduce_area .contect_group section .explan_wrap strong {
  font-size: 1.5rem;
  font-weight: 500;
  color: #454545;
  margin-bottom: 20px;
  display: block;
  letter-spacing: -0.5px;
}
@media (max-width: 1024px) {
  .introduce_area .contect_group section .explan_wrap strong {
    font-size: 1rem;
  }
}
.introduce_area .contect_group section .explan_wrap p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.8;
  margin-bottom: 60px;
  color: #454545;
}
.introduce_area .contect_group section .explan_wrap p .bold {
  background-color: #f8ecff;
}
@media (max-width: 1024px) {
  .introduce_area .contect_group section .explan_wrap p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .introduce_area .contect_group section .explan_wrap p {
    margin-bottom: 30px;
  }
}
.introduce_area .contect_group section .explan_wrap .link {
  font-size: 1rem;
  font-weight: 200;
  color: #454545;
  padding: 0 6px;
}
@media (max-width: 767px) {
  .introduce_area .contect_group section .explan_wrap .link {
    font-size: 0.8rem;
  }
}
.introduce_area .contect_group section .explan_wrap .link img {
  width: 12px;
  display: inline-block;
  padding-top: 14px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .introduce_area .contect_group section .explan_wrap .link img {
    padding-top: 7px;
    width: 10px;
  }
}
.introduce_area .contect_group section .explan_wrap .link :hover {
  color: var(--pointColor);
}

.footer_wrap {
  display: flex;
}
@media (max-width: 1024px) {
  .footer_wrap {
    flex-direction: column-reverse;
  }
}
.footer_wrap .img_wrap {
  position: relative;
  width: 40%;
}
@media (max-width: 1024px) {
  .footer_wrap .img_wrap {
    width: 100%;
  }
}
.footer_wrap .img_wrap .img_box {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.footer_wrap .img_wrap .img_box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.05);
}
@media (max-width: 1024px) {
  .footer_wrap .img_wrap .img_box img {
    transform: scale(1);
  }
}
.footer_wrap .txt_wrap {
  width: 45%;
  padding: 0 3.125vw;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .footer_wrap .txt_wrap {
    width: 100%;
    padding: 0 12.5vw;
  }
}
@media (max-width: 767px) {
  .footer_wrap .txt_wrap {
    padding: 0 6.25vw;
  }
}
.footer_wrap .txt_wrap .explan {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--pointColor);
}
@media (max-width: 1024px) {
  .footer_wrap .txt_wrap .explan {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .footer_wrap .txt_wrap .explan {
    margin-bottom: 40px;
  }
}
.footer_wrap .txt_wrap .resume {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 4rem;
  color: #f0f0f0;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .footer_wrap .txt_wrap .resume {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  .footer_wrap .txt_wrap .resume {
    align-items: start;
  }
}
.footer_wrap .txt_wrap .resume a {
  position: relative;
  margin: 10px 0;
  padding: 0.5rem 0;
  box-sizing: border-box;
  display: block;
  transition: all 0.5s ease;
}
.footer_wrap .txt_wrap .resume a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #454545;
  transition: all 0.5s ease;
}
.footer_wrap .txt_wrap .resume a.on {
  color: #454545;
  letter-spacing: 2px;
}
.footer_wrap .txt_wrap .resume a.on::after {
  width: 100%;
}

main {
  position: relative;
  width: 100vw;
  height: auto;
  font-family: "Pretendard";
}

.contact_area {
  position: relative;
  width: 100%;
}
.contact_area .sc_intro {
  position: relative;
  width: 100%;
  height: calc(100% - 160px);
  margin: 80px 0;
}
.contact_area .sc_intro .title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .contact_area .sc_intro .title_wrap {
    padding: 60px 0;
  }
}
.contact_area .sc_intro .title_wrap .title {
  position: relative;
  margin: 60px 0;
}
@media (max-width: 1024px) {
  .contact_area .sc_intro .title_wrap .title {
    margin: 30px 0;
  }
}
@media (max-width: 767px) {
  .contact_area .sc_intro .title_wrap .title {
    margin: 0;
    padding: 0 6.25vw;
    box-sizing: border-box;
  }
}
.contact_area .sc_intro .title_wrap .title .tit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 200px;
  overflow: hidden;
  display: inline-block;
}
@media (max-width: 1440px) {
  .contact_area .sc_intro .title_wrap .title .tit {
    height: 150px;
  }
}
@media (max-width: 1024px) {
  .contact_area .sc_intro .title_wrap .title .tit {
    height: 120px;
  }
}
@media (max-width: 767px) {
  .contact_area .sc_intro .title_wrap .title .tit {
    height: 80px;
  }
}
.contact_area .sc_intro .title_wrap .title .tit:nth-child(3) span {
  color: var(--pointColor);
}
.contact_area .sc_intro .title_wrap .title .tit:not(:last-child) {
  margin-right: 2vw;
}
.contact_area .sc_intro .title_wrap .title .tit span {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 12rem;
  font-weight: 500;
  color: #454545;
}
@media (max-width: 1440px) {
  .contact_area .sc_intro .title_wrap .title .tit span {
    font-size: 9rem;
  }
}
@media (max-width: 1024px) {
  .contact_area .sc_intro .title_wrap .title .tit span {
    font-size: 7rem;
  }
}
@media (max-width: 767px) {
  .contact_area .sc_intro .title_wrap .title .tit span {
    font-size: 5rem;
  }
}
.contact_area .sc_intro .title_wrap .explain {
  width: 100%;
  padding: 0 18.75vw;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .contact_area .sc_intro .title_wrap .explain {
    padding: 0 6.25vw;
  }
}
.contact_area .sc_intro .title_wrap .explain p {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 1440px) {
  .contact_area .sc_intro .title_wrap .explain p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .contact_area .sc_intro .title_wrap .explain p {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .contact_area .sc_intro .title_wrap .explain p {
    font-size: 1rem;
  }
}
.contact_area .sc_intro .title_wrap .explain .sns_wrap {
  width: 100%;
  margin-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #454545;
}
@media (max-width: 1440px) {
  .contact_area .sc_intro .title_wrap .explain .sns_wrap {
    font-size: 2.2rem;
  }
}
@media (max-width: 1024px) {
  .contact_area .sc_intro .title_wrap .explain .sns_wrap {
    font-size: 1.6rem;
  }
}
.contact_area .sc_intro .title_wrap .explain .sns_wrap > div {
  position: relative;
  transition: all 0.5s ease;
  display: flex;
}
.contact_area .sc_intro .title_wrap .explain .sns_wrap > div:hover {
  margin-left: 10px;
  letter-spacing: 3px;
}
.contact_area .sc_intro::after {
  content: "SCROLL";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ccc;
  animation: scroll 1.5s ease-in infinite;
}
@keyframes scroll {
  0%, 100% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  .contact_area .sc_intro::after {
    display: none;
  }
}
.contact_area .sc_career > div {
  border-top: 3px solid #ccc;
  border-style: dashed;
  padding: 60px 6.25vw;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .contact_area .sc_career > div {
    padding: 6.25vw;
  }
}
.contact_area .sc_career .skill_wrap .tit {
  background-color: #f8ecff;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  margin: 0 3.125vw;
  display: inline-block;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .contact_area .sc_career .skill_wrap .tit {
    font-size: 1rem;
    margin: 0 0 20px 0;
  }
}
.contact_area .sc_career .skill_wrap ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact_area .sc_career .skill_wrap ul li {
  display: flex;
  align-items: center;
  display: block;
  margin: 20px 0;
}
.contact_area .sc_career .skill_wrap ul li span {
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #666;
  padding: 0 3.125vw;
  box-sizing: border-box;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .contact_area .sc_career .skill_wrap ul li span {
    font-size: 2.2rem;
  }
}
@media (max-width: 1024px) {
  .contact_area .sc_career .skill_wrap ul li span {
    font-size: 1.5rem;
  }
}
.contact_area .sc_career .skill_wrap ul li i {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #454545;
  border-radius: 12px;
}
.contact_area .sc_career .career_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact_area .sc_career .career_group {
    flex-direction: column;
  }
}
.contact_area .sc_career .career_group .education_wrap,
.contact_area .sc_career .career_group .active_wrap {
  width: 45%;
  padding: 0 3.125vw;
  box-sizing: border-box;
}
@media (max-width: 1440px) {
  .contact_area .sc_career .career_group .education_wrap,
  .contact_area .sc_career .career_group .active_wrap {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .contact_area .sc_career .career_group .education_wrap,
  .contact_area .sc_career .career_group .active_wrap {
    width: 100%;
    padding: 0;
  }
}
.contact_area .sc_career .career_group .education_wrap .tit,
.contact_area .sc_career .career_group .active_wrap .tit {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  margin-bottom: 40px;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  background-color: #f8ecff;
  display: inline-block;
}
@media (max-width: 767px) {
  .contact_area .sc_career .career_group .education_wrap .tit,
  .contact_area .sc_career .career_group .active_wrap .tit {
    margin-bottom: 20px;
    font-size: 1rem;
  }
}
.contact_area .sc_career .career_group .education_wrap .sub,
.contact_area .sc_career .career_group .active_wrap .sub {
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.7;
  word-break: keep-all;
}
@media (max-width: 1024px) {
  .contact_area .sc_career .career_group .education_wrap .sub,
  .contact_area .sc_career .career_group .active_wrap .sub {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .contact_area .sc_career .career_group .education_wrap .sub,
  .contact_area .sc_career .career_group .active_wrap .sub {
    font-size: 0.8rem;
  }
}
.contact_area .sc_career .career_group .education_wrap .sub > div,
.contact_area .sc_career .career_group .active_wrap .sub > div {
  margin: 20px 0;
}
.contact_area .sc_career .career_group .education_wrap .sub span,
.contact_area .sc_career .career_group .active_wrap .sub span {
  float: left;
  font-weight: 600;
  color: #ccc;
}
.contact_area .sc_career .career_group .education_wrap .sub p,
.contact_area .sc_career .career_group .active_wrap .sub p {
  padding-left: 60px;
}
@media (max-width: 767px) {
  .contact_area .sc_career .career_group .education_wrap .sub p,
  .contact_area .sc_career .career_group .active_wrap .sub p {
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .contact_area .sc_career .career_group .education_wrap {
    margin-bottom: 40px;
  }
}
.contact_area .sc_career .footer_wrap {
  padding: 30px 12.5vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #ccc;
}
@media (max-width: 767px) {
  .contact_area .sc_career .footer_wrap {
    padding: 20px 6.25vw;
    flex-direction: column;
    align-items: start;
  }
}
.contact_area .sc_career .footer_wrap span {
  display: block;
  color: var(--pointColor);
  font-weight: 600;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .contact_area .sc_career .footer_wrap span {
    margin-bottom: 20px;
  }
}
.contact_area .sc_career .footer_wrap div {
  display: flex;
  font-weight: 300;
}
@media (max-width: 767px) {
  .contact_area .sc_career .footer_wrap p {
    font-size: 0.5rem;
  }
}
.contact_area .sc_career .footer_wrap p:nth-child(1) {
  margin-right: 30px;
}