main{
    position: relative;
     width: 100vw;height: auto;
     font-family: 'Pretendard';
 }
 .contact_area{
     position: relative;
     width: 100%;
     .sc_intro{
         position: relative;
         width: 100%;height:calc(100% - 160px);
         margin: 80px 0;
         .title_wrap{  
             display: flex; flex-direction: column; align-items: center;
             padding: 80px 0; box-sizing: border-box;
             @include mobile{padding:60px 0;}
             .title{
                 position: relative;
                 margin: 60px 0;
                 @include tablet{margin: 30px 0;}
                 @include mobile{margin: 0;padding: 0 6.25vw;box-sizing: border-box;}
                 .tit{
                     position: relative;
                     display: inline-block;
                     width: auto;height: 200px;
                     overflow: hidden;
                     display: inline-block;
                     @include notebook{height: 150px;}
                     @include tablet{height: 120px;}
                     @include mobile{height:80px;}
                     &:nth-child(3){span{color: var(--pointColor);}}
                     &:not(:last-child){margin-right: 2vw;}
                     span{
                         position: relative;
                         top: 100%;left: 0;//
                         width: 100%;height: 100%;
                         font-family: 'DM Sans', sans-serif;
                         font-size:12rem;font-weight:500;
                         color:#454545;
                        @include notebook{font-size:9rem;}
                        @include tablet{font-size:7rem;}
                        @include mobile{font-size:5rem;}
                     }
                 }
             }
             .explain{
                 width: 100%;
                 padding:0 18.75vw; box-sizing: border-box;
                 @include mobile{padding: 0 6.25vw;}
                 p{
                     margin-top: 20px;
                     font-size:2rem;font-weight:300;line-height: 1.6;
                     @include notebook{font-size: 1.5rem;}
                     @include tablet{font-size: 1.2rem;}
                     @include mobile{font-size: 1rem;}
                 }
                 .sns_wrap{
                     width: 100%;
                     margin-top: 20px;
                     font-family: 'DM Sans', sans-serif;
                     font-size:3rem;font-weight:600;line-height: 1.5;
                     letter-spacing:0px;color:#454545;
                     @include notebook{font-size: 2.2rem;}
                     @include tablet{font-size: 1.6rem;}
                     &>div{
                         position: relative;
                         transition: all .5s ease;
                         display: flex;
                         &:hover{
                             margin-left: 10px;
                             letter-spacing:3px;
                         }
                     }
                 }
             }
 
         }
         &::after{
             content: 'SCROLL';
             position: absolute;
             bottom:0px;left: 50%;transform: translateX(-50%);
             font-size: 1rem;font-weight: 500;letter-spacing: 2px;color:#ccc;
             animation: scroll 1.5s ease-in infinite;
             @keyframes scroll {
                 0%,100%{transform: translateY(30px);};
                 50%{transform: translateY(0);};
             }
             @include mobile{display: none;}
         }
     }
     .sc_career{
         &>div{
             border-top:3px solid #ccc;
             border-style:dashed;
             padding:60px 6.25vw;box-sizing: border-box;
             @include mobile{padding: 6.25vw;}
         }
         .skill_wrap{
             .tit{
                  background-color:#f8ecff; display: inline-block;
                  font-size: 1.5rem;font-weight:600;
                  padding: .8rem 1.5rem;box-sizing: border-box;
                  margin:0 3.125vw;display: inline-block;margin-bottom: 40px;
                  @include mobile{font-size: 1rem;margin: 0 0 20px 0;;}
                 }
 
             ul{
                 width: 100%;
                 display: flex;align-items: center;flex-wrap: wrap;    
                 li{
                     display: flex;align-items: center;
                     display: block;margin: 20px 0;
                     span{
                         font-family: 'DM Sans', sans-serif;
                         font-size: 3rem;font-weight: 300;color:#666;
                         padding: 0 3.125vw;box-sizing: border-box;
                         cursor: pointer;
                         @include notebook{font-size: 2.2rem;}
                         @include tablet{font-size:1.5rem;}
                     }
                     i{
                         display: inline-block;
                         width: 6px;height: 6px;background-color: #454545;
                         border-radius: 12px;
                     }
                 }
             }
         }
         .career_group{
             width: 100%;
             display: flex;justify-content: space-between;
             @include mobile{flex-direction: column;}
             .education_wrap,
             .active_wrap{
                 width: 45%;padding: 0 3.125vw;box-sizing: border-box;
                 @include notebook{width:50%;}
                 @include mobile{width: 100%; padding: 0;}
                 .tit{
                     font-size:1.5rem;font-weight:600;;display: block;
                     margin-bottom:40px;
                     padding: .8rem 1.5rem;box-sizing: border-box;
                     background-color:#f8ecff; display: inline-block;
                     @include mobile{margin-bottom: 20px;font-size: 1rem;}
                 }
                 .sub{
                     overflow: hidden;
                     font-size:1.2rem;line-height: 1.7;word-break: keep-all;
                     @include tablet{font-size:1rem;}
                     @include mobile{font-size:.8rem;}
                     &>div{margin:20px 0;}
                     span{ float: left;font-weight:600;color:#ccc;}
                     p{padding-left:60px; @include mobile{padding-left:50px;}}
                 }
             }
             .education_wrap{@include mobile{margin-bottom: 40px;}}
         }
         .footer_wrap{
             padding:30px 12.5vw;box-sizing: border-box;
             display: flex;align-items: center;justify-content:space-between;
             font-size: .8rem;color:#ccc;
             @include mobile{padding: 20px 6.25vw;flex-direction: column;align-items: start;}
             span{
                 display: block;color:var(--pointColor);font-weight: 600;line-height: 1.6;
                 @include mobile{margin-bottom: 20px;}
             }
             div{display: flex;font-weight: 300;}
             p{@include mobile{font-size: 0.5rem;}}
             p:nth-child(1){margin-right: 30px;}
            
 
         }
 
         
 
     }
 
 }
