main{
    position: relative;
    width: 100vw;height: auto;
    font-family: 'Pretendard';
}
.sc_work{
    // display: none;
    position: relative;
    width: 100%;height:calc((374px * 5) + 572px + 100vw);
    @include notebook{ height:calc((288px * 5) + 432px + 100vw);}
    @include tablet{ height:calc((260px * 5) + 390px + 100vw);}
    @include mobile{ height:calc((260px * 5) + 390px + 425px);}
    .horison_wrap{
        position: fixed;bottom: 0;left: 0;
        width:calc((374px * 5) + 572px + 100vw);height: 100%;
        display: flex;
        @include notebook{width:calc((288px * 5) + 432px + 100vw);}
        @include tablet{width:calc((260px * 5) + 390px + 100vw);}
        @include mobile{
            width: calc((260px * 5) + 390px + 425px);
            // top: 0;left: 0;
        }
        .main_web{
            position: relative;
            width:100vw; height: 100%;
            display: flex;align-items: center;
            padding:0 6.25vw;box-sizing: border-box;
            cursor: pointer;
            font-size:9rem;font-weight:600;line-height: 1.2;letter-spacing: -1px;
            @include notebook{font-size:6.6rem;}
            @include tablet{font-size:4.2rem;}
            @include mobile{width:425px;font-size:3rem;}

            transition: .5s ease;
            &.dark{background-color: #121212;color:#fff;}
            .title{
                display: flex;align-items: center;
                @include mobile{flex-direction: column;align-items: start;}
                strong{min-width:640px; @include notebook{min-width: 468px;} @include tablet{min-width: 294px;} }
                .name{      
                    position: relative;//font-family: 'Prata', serif;font-weight: 400;
                    display: flex;
                    &.dark{color:#f8ecff;&::after{width:95%;}}
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;left: 0; width:0%;height:3px;
                        background-color: #f8ecff;
                        transition: all .5s ease; 

                    }//
                    .name_box{
                        position: relative;
                        width:82px;height: 170px;
                        overflow: hidden;
                        &:nth-child(1){width:94px;}
                        &:nth-child(6){width:114px;}
                        @include notebook{width:62px; height: 126px;&:nth-child(1){width:70px;}&:nth-child(6){width:88px;}}
                        @include tablet{width:40px; height:80px;&:nth-child(1){width:46px;}&:nth-child(6){width:54px;}}
                        @include mobile{width:28px; height:58px;&:nth-child(1){width:32px;}&:nth-child(6){width:38px;}}
                        span{
                            position: absolute;
                            width: 100%;height: 100%;
                            bottom: -100%;left: 0;
                        }
                    }
                }
            }
            .sub{
                @include mobile{display: flex;flex-direction: column;}
            }
            .more{
                position: absolute;
                width: 100vw;
                bottom: 6.25vw;right: 6.25vw;
                display: flex;justify-content: end;
                font-size:3rem;font-weight: 300;
                span{margin-left: 30px;}
                @include notebook{font-size:2.5rem;}
                @include tablet{font-size:1.8rem;}
                @include mobile{
                    width: 100%;
                    left: 6.25vw;justify-content: start;
                }
            }
            }
        .work_web{
            position: relative;
            width:572px; height: 100%;
            display: flex;flex-direction: column;justify-content:end;
            @include notebook{width:432px;}
            @include tablet{width:390px;}
            .txt_wrap{
                position: absolute;width: 100%;height: 0;//
                display: flex; flex-direction: column; align-items: center;
                overflow: hidden;
                &.on{
                    height: 531px;transition: all .5s ease;
                    @include notebook{height: 400px;}
                    @include tablet{height: 360px;}
                }
                .title{
                    font-size:6.2rem;font-weight:600;margin-bottom: 30px;
                    @include notebook{font-size: 4.2rem;}
                    @include tablet{font-size: 3.2rem;}
                    span{
                        font-size:4.5rem;
                        vertical-align: top;letter-spacing:-3px;
                        @include notebook{font-size:4rem;}
                        @include tablet{font-size:3rem;}
                      // @include mobile{font-size:2rem;}
                    }
                }
                .sub{
                    font-size:3.2rem;font-weight:600;color:var(--pointColor);line-height: 1;
                    @include notebook{font-size: 2.2rem;}
                    @include tablet{font-size: 1.6rem;}
                }
            }
            }
        .work_link{
            position: relative;
            width: 374px;
            height: 100%;
            display: flex;align-items: end;
            transition: all .5s ease;
            &.mouseDown{opacity:50%;}
            @include notebook{width:288px;}
            @include tablet{width:260px;}
            .work_group{
                width: 100%;height: 100%;
                display: flex;flex-direction: column;justify-content: end;
                .txt_wrap{
                    position: relative;
                    width: 100%;min-height:300px;
                    padding: 0px .5vw;box-sizing: border-box;
                    opacity: 0;
                    visibility: hidden;
                    @include notebook{min-height:200px}
                    @include mobile{min-height: 200px;padding: 0 6.25vw;;}
                    .title{
                        display: flex;align-items: center;justify-content: space-between;
                        @include mobile{
                            flex-direction: column;align-items: start;line-height: 1.6;
                        }
                        .tit{font-size:1.5rem;font-weight:600;
                            @include notebook{font-size: 1.2rem;}
                            @include mobile{font-size: 1.5rem;}
                        }
                        .sub{font-size:1rem;font-weight:400;
                            @include notebook{font-size: .8rem;}
                            @include mobile{font-size:1rem;}
                        }
                    }
                    .skill{
                        margin:20px 0;
                        li{
                            margin:1vw 0;font-size:1rem;font-weight:400;letter-spacing: .5px;color:#454545;
                            @include notebook{font-size: 0.5rem;margin: .5rem 0;}
                        }
                    }
                }
                .img_wrap{
                    position: relative;
                    width: 100%;height: 531px;
                    overflow: hidden;
                    @include notebook{height: 400px;}
                    @include tablet{height: 360px;}
                    img{
                        position: absolute;
                        top: 0;left: 0;
                        width: 100%;
                        height:0%;//100%
                        opacity: 0;
                        object-fit:cover;
                       // object-fit: contain;                   
                    }
                   
                }
        
            }
        }
    }

}
.work_page{
    position: relative;
    display: none;

     .work_wrap{
        display: none;

        position: absolute; top: 0;left: 0;
        width: 100%;height: auto;
        z-index: -1;
        overflow: hidden;
        background-color: var(--bgColorG);
        @include mobile{padding-bottom: 80px; box-sizing: border-box;}
        .work_intro{
            position: relative;
            width: 100%;height: 100vh;
            display: flex; flex-direction: column;justify-content: end;align-items: center;
            @include mobile{ height:35vh;}
            .txt_wrap{
                position: relative;z-index: 1;
                width: 25%;margin: 0 auto;
                height:60%;
                opacity: 0;
                visibility: hidden;
                transform: translateY(160px);
                transition: all .5s ease;
                display: block;
                @include notebook{width:40%;}
                @include tablet {width:50%;}
                @include mobile{display: none;}
                &.on{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(80px);   
                } 
                .title{
                    position: relative;
                    width: 100%;height: 40px;
                    margin-bottom: 6.25vw;
                    .tit{
                        position: absolute;
                        top:50%;left: 0;transform: translateY(-50%);
                        width: 50%;height:0%;
                        overflow: hidden;
                        &.on{height: 2rem;;transition: all .5s ease;}
                        span{font-size:2rem;font-weight:700;}
                    }
                    .sub{
                        position: absolute;
                        top:50%;right: 0;transform: translateY(-50%);
                        width: 50%;height:0%;
                        overflow: hidden;
                        &.on{height: 1rem;;transition: all .5s ease;}
                        span{font-size: 1rem;font-weight:500;float: right;}
                    }
                }
                .skill{
                    font-size: 0.8rem;font-weight:400;line-height: 1.2;
                    li{
                        position: relative; 
                        width: 50%;height:0;
                        overflow: hidden;
                        margin:1rem 0;display: block;
                        &.on{height: 1rem;transition: all .5s ease;}
                    }
                    span{
                        position: absolute;
                        top: 0;left: 0;
                        width: 100%;height: 100%;                       
                    }

                }

            }

        }
        .work_content{
            position: relative;width: 100%;
            display: flex;
            @include mobile{flex-direction: column-reverse;}
            .info_group{
                position: relative;width: 28%;height: 100vh;
                padding: 6.25vw 3.125vw;;box-sizing: border-box;
                display: flex; flex-direction: column; justify-content: center;
                background-color: #fff;
                @include tablet{width:30%;}
                @include mobile{width: 100%;height: auto;padding: 6.25vw;} 
                &.fix{
                    position: fixed;bottom: 0;; right: 0;z-index: 1;
                    @include mobile{position: relative;}
                }
                .info_wrap{
                    .title{
                        display: flex;flex-direction: column;align-items: start;
                        margin-bottom:2vw;
                        @include mobile{margin-bottom: 1rem;}
                        .tit{
                            font-size: 1.5rem;font-weight: 600;line-height: 1.5;
                            margin-bottom: 10px;
                            @include tablet{font-size: 1.2rem;}
                            @include mobile{font-size: 2.5rem;}
                        }
                        .link{
                            display: flex;align-items: center;
                            font-size: .9rem;font-weight:500;line-height: 1.5;
                            margin:5px 0;
                            @include tablet{font-size: 0.8rem;}
                            @include mobile{font-size: 1rem;}
                            a{
                                position: relative;
                                display: block;
                                
                                &:hover{&::after{width: 100%;}}
                                &::after{
                                    content: '';
                                    position: absolute;
                                    width: 0%;height:2px;
                                    bottom: 0;left: 0;
                                    background-color: #000;
                                    transition: all .5s ease;
                                    
                                }
                            }
                            img{width:18px;object-fit: contain;margin-right:12px;}
                        }
                    }
                    .date{
                        font-size:1rem;font-weight:700;color:var(--pointColor);
                        @include tablet{font-size: 0.9rem;}
                    }
                    .explan{
                       font-size:1rem;font-weight: 300;line-height: 1.6;margin:2vw 0;
                       @include notebook{font-size: 0.9rem;}
                       @include mobile{font-size: 1rem;margin: 1rem 0;}
                    }
                    .block{
                        display: block;color:var(--pointColor);
                        font-size:30px;font-weight: 900;
                        @include mobile{font-size: 1rem;}
                    }
                    .desc{
                        position: relative;width: 100%;margin: 2vw 0;
                        @include notebook{font-size: 0.8rem;}
                        @include mobile{margin: 16px 0;border-top:1px solid #ADADAD;}
                        ul{
                            @include mobile{
                                position: absolute;top: 0;left: 0;
                                width: 100%;height:100%;//
                                transition: all .5s ease;
                                overflow: hidden;
                                padding:0 1rem;box-sizing: border-box;
                                background-color: var(--bgColorG);
                                border-bottom-left-radius:.5rem;
                                border-bottom-right-radius:.5rem;
                            }
                            li{
                                margin:.5vw 0; 
                                font-size:.9rem;font-weight: 300;line-height: 1.6;
                                @include mobile{font-size: 1rem;margin: 8px 0;}
                            }
                        }
                    }
                    .skill{
                        li{
                            color:var(--pointColor);
                            font-size: 1rem;font-weight:200;
                            margin:.5rem 0;
                            display: inline-block;
                            @include tablet{font-size: .6rem;}
                            @include mobile{font-size: .8rem;font-weight: 400;}
                            &:nth-child(2){margin: 0 2vw;}
                        }
                    }
                }
                .work_num{
                    opacity: 0;
                    position: absolute;
                    bottom:60px;right: 60px;
                    span{
                        font-family: 'Oswald', sans-serif;
                        font-size: 3rem;font-weight:500;letter-spacing:-1px;
                        color:var(--pointColor);
                    }

                }

            }
            .gallery_group{

                position: relative;
                width: 72%;min-height: 100vh;
                margin-right: auto;
                padding: 6.25vw 0;box-sizing: border-box;
                display: flex;justify-content: center;align-items: center;flex-direction: column;
                @include mobile{width: 100%;margin: 0;padding: 1.5rem;}
                li{
                    width:72%;margin:3.125vw 0;
                    @include mobile{width: 100%;margin:40px 0;}
                }
                li.content_row{
                    display: flex;justify-content: space-between;
                    @include mobile{
                        flex-direction: column;
                        
                    }
                    .row_box{width:calc(50% - 1vw); @include mobile{width: 100%;margin:40px 0;}}
                }
                .img_wrap{
                    position: relative;
                    width: 100%;
                    border:0px solid #444;border-radius:10px;
                    box-shadow: 10px 10px 30px #00000020;
                    background-color: #444;overflow: hidden;
                    video{
                        display: block;width:100%;object-fit: contain;transform: scale(1.02);
                        overflow: hidden;
                    }
                    @include mobile{border-radius:6px;box-shadow:3px 3px 12px #00000020;}
                }
                .txt_wrap{
                    position: relative;
                    margin-top: 3.125vw;
                    @include mobile{margin-top: 1rem;}
                    .desc{
                        position: relative;width: 100%;margin-bottom: 2vw;
                        display: flex;align-items: center;justify-content: space-between;
                        strong{
                            font-size: 1.5rem;font-weight:600;display: block;
                            @include tablet{font-size: 1.2rem;}
                            @include mobile{font-size: 1rem;}
                        }
                        span{
                            font-size: .8rem;color:#008cff;
                            padding: .3rem .6rem .4rem;box-sizing: border-box;
                            border:1px solid #008cff;
                            border-radius: 50px;cursor: pointer;
                            transition: all .5s ease;
                            @include tablet{font-size: .8rem;}
                            &:hover{background-color: #008cff;color:#fff;}
                        }
                    }
                    p{
                        position: relative;
                        padding-left:1rem;box-sizing: border-box;
                        font-size: 1rem;font-weight:400;line-height: 1.6;
                        word-break: keep-all;
                        &::before{
                            content: '·';
                            position: absolute;
                            left: 0;
                            font-weight: 900;
                            margin-right:1rem;
                            
                        }
                        @include tablet{font-size: .9rem;}
                        @include mobile{font-size: .8rem;}
                    }
                }


            }


        }
     }
     .fritz_area{
        .work_intro{
            background: url(../img/Fritze-intro.jpg)no-repeat center center / cover;
            background-attachment: fixed;
            background-position: center;
            @include mobile{background: url(../img/mobile/Fritze-intro_m.webp)no-repeat center center / cover;}
        }
        .info_group{
            .desc{
                @include mobile{
                    height: 0; transition: all .5s ease;
                    &.on{height: 280px;}
                }
            }
        }
     }
     .tamburins_area{
        .work_intro{
            background: url(../img/tamburins_intro.jpg)no-repeat center center / cover;
            background-attachment: fixed;
            background-position: center;
            @include mobile{background: url(../img/mobile/tamburins_intro_m.webp)no-repeat center center / cover;}
            .txt_wrap{
                color:#fff;
                .skill li{color:#fff}
            }
        }
        .info_group{
            .desc{
                @include mobile{
                    height: 0; transition: all .5s ease;
                    &.on{height: 210px;}
                }
            }
        }
    }
    .spotfy_area{
        .work_intro{
            background: url(../img/spotfy_intro.jpg)no-repeat center center / cover;
            background-attachment: fixed;
            background-position: center;
            @include mobile{background: url(../img/mobile/spotfy_intro_m.webp)no-repeat center center / cover;}
            .txt_wrap{
                color:#fff;
                .skill li{color:#fff}
            }
        }
        .work_content{
            .gallery_group{
                .content_row{
                    width:32%;
                    display: flex; flex-direction: column;
                    @include mobile{width: 100%;}

                }
            }
        }
        .info_group{
            .desc{
                @include mobile{
                    height: 0; transition: all .5s ease;
                    &.on{height: 140px;}
                }
            }
        }
    }
    .hmg_area{
        .work_intro{
            background: url(../img/hmg_intro.jpg)no-repeat center center / cover;
            background-attachment: fixed;
            background-position: center;
            @include mobile{background: url(../img/mobile/hmg_intro_m.webp)no-repeat center center / cover;}
            .txt_wrap{
                color:#fff;
                .skill li{color:#fff}
            }
        }
        .work_content{
            .gallery_group{
                li:nth-child(2){
                    width:32%;
                    @include mobile{width: 100%;}
                }
            }
        }
        .info_group{
            .desc{
                @include mobile{
                    height: 0; transition: all .5s ease;
                    &.on{height: 180px;}
                }
            }
        }
    }
    .repick_area{
        .work_intro{
            background: url(../img/repick_intro.jpg)no-repeat center center / cover;
            background-attachment: fixed;
            background-position: center;
            @include mobile{background: url(../img/mobile/repick_intro_m.webp)no-repeat center center / cover;}
            .txt_wrap{
                color:#fff;
                .skill li{color:#fff}
            }
        }
        .info_group{
            .desc{
                @include mobile{
                    height: 0; transition: all .5s ease;
                    &.on{height: 180px;}
                }
            }
        }
    }

    .page_out{
        position: fixed;
        right:3.125vw;bottom: 30px;
        padding:1.5rem 2.5rem; box-sizing: border-box;
        background-color: #fff;
        border-radius: 60px;
        box-shadow: 0px 0px 30px #00000020;
        font-size: 1.5rem;font-weight: 500;line-height: 1.5;color:#333333;
        display: flex;justify-content: center;align-items: center;
        @include tablet{font-size: 1.2rem;padding: 1.2rem 2.2rem;}
        @include mobile{right: 6.25vw;bottom: 6.25vw;padding:.7rem 1rem;}
        .back{
            transition: all .5s ease;
            &:hover{letter-spacing:2px;}
            @include mobile{display: none;}
        }
        .arrow{
            display: block;margin-left:.5rem;
            @include mobile{margin: 0;}
        }

    }
    .code_wrap{
        position: fixed;
        top: 0;left: 0;width: 100%;height: 100%;
        background-color: #00000030;

        display: none;
        opacity: 0;
        .code_box{
            position: absolute;
            top: 150%;//50
            left: 50%;transform: translate(-50%, -50%);
            width: 60%;
            border:3px solid #ccc;
            border-radius: 16px;
            box-shadow: 0 0 30px #00000050;
            background-color:#23241f;
            overflow: hidden;
            @include tablet{width: 80%;}
            @include mobile{width: calc(100% - 6.25vw);  border-radius: 10px;}
            pre{
                width: 100%;height:580px;
                overflow: hidden;overflow-y: scroll;
                line-height: 1.6;letter-spacing:.5px;
                @include mobile{min-height: 300px;max-height:300px;}
            }
            .x_btn{
               position: absolute;
               top: 10px;right: 10px;
               width: 32px;height: 32px;
                display: flex; flex-direction: column;justify-content: space-evenly;
                    i{
                        display: block;
                        width: 100%;height:3px;                        
                        transform-origin: 25% 45% ;
                        background-color: #fff;
                        &:nth-child(1){ transform: rotate(45deg);}
                        &:nth-child(2){ transform: rotate(-45deg);}
                    }
            }
        }

        
    }
}
.page_move{
    position: fixed;
    top: 0;left: 0;
    width:0vw;height: 100vh;
    background-color:var(--bgColorG);
    z-index: 100;

}
.wk_cursor{
    position: fixed;
    top: 0;left: 0;
    z-index: 10;
    pointer-events: none;
    @include mobile{display: none;}
	.scroll{
		position: relative;
		width: 180px;height: 180px;
        transform: scale(0);
		background-color: #fff;
		border:1px solid #222;
		border-style: dashed;
		border-radius: 180px;
		span{
			position: absolute;
			top: 50%;left: 50%;transform: translate(-50%, -50%);
			font-family: 'DM Sans', sans-serif;	
			font-size:1rem;font-weight: bold;
			letter-spacing: 2px;
		}
	}
}

